@model FurnitureStore.Models.Product
<main>
<h2>إضافة منتج</h2>

<form method="post">
    <input type="text" name="Name" placeholder="اسم المنتج" required /><br /><br />
    <input type="number" name="Price" placeholder="السعر" required /><br /><br />
    <input type="text" name="ImageUrl" placeholder="رابط الصورة" /><br /><br />
    <input type="text" name="Description" placeholder="الوصف" /><br /><br />
    <input type="text" name="Category" placeholder="التصنيف" /><br /><br />

    <button type="submit">حفظ</button>
</form>
</main>