
<section class="hero-section">
    <div class="container-fluid px-5">
        <div class="row align-items-center">
            <div class="col-lg-6 hero-content">
                <h1 class="display-3 fw-bold">Find beauty in <br> <span class="text-serif">simplicity</span></h1>
                <p class="lead my-4">
                    A modern furniture catalog that combines simplicity and beauty to suit your refined taste in your smart home.
                </p>
                <a asp-controller="Products" asp-action="Index" class="btn btn-outline-light btn-lg px-5 py-3">Explore Now</a>
                <div class="social-links mt-5">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                </div>
            </div>

            <div class="col-lg-6 hero-images-container">
                <div class="main-image-box">
                    <img src="~/images/7.jpg" alt="Modern Sofa" class="img-fluid main-img">
                        <div class="floating-image">
                            <img src="~/images/5.jpg" alt="Designer Chair" class="img-fluid shadow-lg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
